<html>
  <head>
    <title>Todo app</title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <hr>
      <h2>Todo app</h2>
      <hr>
      <form action="/addtask" method="POST">
        <input type="text" name="newtask" placeholder="add a new task" />
        <button>Add Task</button>
        <hr>
        <h2>Added Task(s)</h2>
        <% for( var i = 0; i < task.length; i++){ %>
        <li style="list-style: none;">
          <input type="checkbox" name="check" value="<%= task[i] %>" /> <%=
          task[i] %>
        </li>
        <% } %>
        <br>
        <button formaction="/removetask" type="submit">Complete Task</button>
      </form>
      <hr>
      <h2>Completed Task(s)</h2>
      <% for(var i = 0; i < complete.length; i++){ %>
      <li><%= complete[i] %></li>
      <% } %>
      <hr> <br> <br>
      <h5>Copyright 2022 - Syed Kabir</h5>
    </div>
  </body>
</html>
